#loglevel.default is the default log level for jobs: ERROR,WARN,INFO,VERBOSE,DEBUG
loglevel.default=VERBOSE
rdeck.base={{ rundeck_base }}

#rss.enabled if set to true enables RSS feeds that are public (non-authenticated)
rss.enabled=false
# change hostname here
grails.serverURL=http://rundeck:8080/rundeck
dataSource.dbCreate = update
#dataSource.url = jdbc:h2:file:/var/lib/rundeck/data/rundeckdb;MVCC=true;TRACE_LEVEL_FILE=4

dataSource.url = jdbc:mysql://rundeck/rundeck?autoReconnect=true
dataSource.username = {{ rundeck_db_user }}
dataSource.password = {{ rundeck_db_password }}
